body {
    background-color: #121212;
    font-family: "Inter", sans-serif;
}

.custom-nav {
    background-color: #1C1C1C;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.book-card {
    background-color: #1a1727;
    color: whitesmoke;
}

.btn-light {
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
}